[Unit]
Description=Parity BSG Node
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=/home/user/parity
ExecStart=/usr/bin/parity --config=/home/user/parity/config.toml --engine-signer <eth_addr> --unlock <eth_addr> --password /home/user/parity/node.pwds
Restart=on-abort

[Install]
WantedBy=multi-user.target
